# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

!esphome/
!esphome/common/
!esphome/common/*.yaml
!esphome/common/sensor/
!esphome/common/sensor/*.yaml
!esphome/common/text_sensor/
!esphome/common/text_sensor/*.yaml
!esphome/common/shp7/
!esphome/common/shp7/*.yaml
!esphome/*.yaml

!integrations/
!integrations/*.yaml

!entities/
!entities/notifiers/
!entities/notifiers/*.yaml
!entities/binary_sensors/
!entities/binary_sensors/*.yaml
!entities/media_players/
!entities/media_players/*.yaml
!entities/shell_commands/
!entities/shell_commands/*.yaml
!entities/groups/
!entities/groups/*.yaml
!entities/input_booleans/
!entities/input_booleans/*.yaml
!entities/input_texts/
!entities/input_texts/*.yaml
!entities/input_selects/
!entities/input_selects/*.yaml
!entities/sensors/
!entities/sensors/*.yaml
!entities/sensors/sql_sensors
!entities/sensors/sql_sensors/*.yaml
!entities/sensors/statistics
!entities/sensors/statistics/*.yaml
!entities/sensors/template_sensors
!entities/sensors/template_sensors/*.yaml
!entities/scripts/
!entities/scripts/*.yaml
!entities/automations/
!entities/automations/*.yaml
!entities/automations/cuina/
!entities/automations/cuina/*.yaml
!entities/automations/cuina/endoll_carregador_mobils/
!entities/automations/cuina/endoll_carregador_mobils/*.yaml
!entities/automations/habitacio_arlet/
!entities/automations/habitacio_arlet/*.yaml
!entities/automations/habitacio_arlet/aparell_mosquits/
!entities/automations/habitacio_arlet/aparell_mosquits/*.yaml
!entities/automations/habitacio_arlet/ventilador/
!entities/automations/habitacio_arlet/ventilador/*.yaml
!entities/automations/habitacio_matrimoni/endoll_esterilla/
!entities/automations/habitacio_matrimoni/endoll_esterilla/*.yaml
!entities/automations/menjador/
!entities/automations/menjador/*.yaml
!entities/automations/menjador/llums/
!entities/automations/menjador/llums/*.yaml
!entities/automations/menjador/tv/
!entities/automations/menjador/tv/*.yaml
!entities/automations/rebedor/
!entities/automations/rebedor/*.yaml
!entities/automations/rebedor/porta_entrada/
!entities/automations/rebedor/porta_entrada/*.yaml
!entities/automations/sala_maquines/
!entities/automations/sala_maquines/*.yaml
!entities/automations/sala_maquines/rentadora/
!entities/automations/sala_maquines/rentadora/*.yaml
!entities/automations/terrassa/
!entities/automations/terrassa/*.yaml
!entities/automations/terrassa/pluja/
!entities/automations/terrassa/pluja/*.yaml
!entities/automations/terrassa/temperatura/
!entities/automations/terrassa/temperatura/*.yaml
!entities/automations/terrassa/webcam/
!entities/automations/terrassa/webcam/*.yaml

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
service_account.json
