# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!shell_command/
!shell_command/*.yaml
!esphome/
!esphome/common/
!esphome/common/*.yaml
!esphome/common/sensor/
!esphome/common/sensor/*.yaml
!esphome/common/text_sensor/
!esphome/common/text_sensor/*.yaml
!esphome/common/shp7/
!esphome/common/shp7/*.yaml
!esphome/*.yaml
!input_boolean/
!input_boolean/*.yaml


# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
service_account.json
