# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

!esphome/
!esphome/common/
!esphome/common/*.yaml
!esphome/common/sensor/
!esphome/common/sensor/*.yaml
!esphome/common/text_sensor/
!esphome/common/text_sensor/*.yaml
!esphome/common/shp7/
!esphome/common/shp7/*.yaml
!esphome/*.yaml

!integrations/
!integrations/*.yaml

!entities/
!entities/notifiers/
!entities/notifiers/*.yaml
!entities/binary_sensors/
!entities/binary_sensors/*.yaml
!entities/media_players/
!entities/media_players/*.yaml
!entities/shell_commands/
!entities/shell_commands/*.yaml
!entities/groups/
!entities/groups/*.yaml
!entities/input_booleans/
!entities/input_booleans/*.yaml
!entities/input_texts/
!entities/input_texts/*.yaml
!entities/input_selects/
!entities/input_selects/*.yaml
!entities/sensors/
!entities/sensors/*.yaml
!entities/sensors/sql_sensors
!entities/sensors/sql_sensors/*.yaml
!entities/sensors/statistics
!entities/sensors/statistics/*.yaml
!entities/sensors/template_sensors
!entities/sensors/template_sensors/*.yaml
!entities/scripts/
!entities/scripts/*.yaml

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
service_account.json
